::placeholder {
  color: #fff;
  opacity: 0.3;
}

:-ms-input-placeholder {
  color: #fff;
  opacity: 0.3;
}

::-ms-input-placeholder {
  color: #fff;
  opacity: 0.3;
}
button {
  outline: none !important;
}

body {
  margin: 0;
  background: #598545 !important;
  text-align: center !important;
  outline: none !important;
}
h1 {
  margin: 0;
  padding: 0;
}

#players {
  display: flex;
  // justify-content: center;
  div {
    width: 50%;
    text-align: center;
    margin: 20px auto;
    color: #fff;
    cursor: pointer;
    height: fit-content;
    span {
      display: block;
      transition: all 0.5s ease-in-out;
      span {
        width: 40%;
        text-align: right;
        transform: translateY(-55px);
      }
    }
    h2 {
      font-size: 5vh;
      position: relative;
      margin-bottom: 30px;
      padding-top: 30px;
      font-weight: 200;
    }
    h2:after {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      width: 140px;
      background: #fff;
      border-radius: 3em;
      opacity: 0.2;
    }
    h3 {
      font-size: 4vh;
    }
  }
  div:hover {
    background-color: rgba(225, 225, 225, 0.146);
  }
}

#action {
  text-align: center;
  margin: 40px auto;
  button {
    width: 191px;
    height: 57px;
    border-radius: 10px;
    margin: 0 20px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #598545;
    background-color: #fff;
  }
}

#pointsLeft {
  text-align: center;
  color: #fff;
  margin: 80px auto;
  opacity: 0.3;
}

#balls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
  flex-wrap: wrap;
  div {
    position: relative;
    margin: 0 4px;
    transition: all 0.5s ease-in-out;
    svg {
      width: 60px;
    }
    #red {
      width: 90px;
    }
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 40px;
      width: 40px;
      background: #fff;
      text-align: center;
      border-radius: 50%;
      padding-top: 8px;
    }
  }
}

#start {
  text-align: center;
  margin: 100px auto;
  svg {
    width: 160px;
  }
  form {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 380px;
      height: 68px;
      border-radius: 10px;
      outline: none;
      background: none;
      border: 3px solid #ffffff;
      color: #fff;
      margin: 20px auto;
      font-size: 24px;
      padding: 0 30px;
      transition: all 0.3s ease-in-out;
    }
    input:focus {
      border-color: #1c4d55;
    }
    #submit {
      border: none;
      font-size: 35px;
    }
  }
}

#foul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(80, 6, 6, 0.86);
  height: 100%;
  text-align: center;
  color: #fff;
  #closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    color: #fff;
    background: none;
    border: none;
    outline: none;
  }
  h2 {
    margin-top: 130px;
    font-size: 50px;
  }
  div {
    margin-top: 90px;
    button {
      background: none;
      border: 1px solid #fff;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 10px;
      color: #fff;
      font-size: 30px;
      outline: none;
    }
  }
  #lostPoints {
    margin-top: 90px;
    display: flex;
    justify-content: center;

    input {
      -webkit-appearance: none;
      margin: 0 10px;
      min-height: 50px;
      min-width: 50px;
      border: 2px solid #fff;
      border-radius: 50%;
      outline: none;
      position: relative;
      z-index: 100;
      cursor: pointer;
    }
    label {
      display: inline-block;
      position: relative;
      left: -43px;
      top: 7px;
      font-size: 24px;
    }
    input:checked {
      background-color: #fff;
      z-index: 0;
    }
    input:checked + label {
      color: black;
    }
  }
  #options {
    width: 20%;
    text-align: left;
    margin: 60px auto;
    input {
      -webkit-appearance: none;
      margin: 0 10px;
      height: 20px;
      width: 20px;
      background: #fff;
      border: 2px solid #555;
      border-radius: 5px;
      outline: none;
      position: relative;
    }
    input:checked:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #202020;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }

    label {
      transform: translateY(-2.4px);
      font-size: 20px;
    }
  }
  button {
    width: 191px;
    height: 57px;
    border-radius: 10px;
    margin: 0 20px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #51180f;
    background: #fff;
  }
}
.confirmEndGame {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 230px;
  width: 40%;
  background: #fff;
  text-align: center;
  border-radius: 0.7em;
  h3 {
    margin-top: 60px;
  }
  button {
    height: 40px;
    width: 90px;
    margin: 20px;
    font-size: 22px;
    border-radius: 0.2em;
  }
  :nth-child(2) {
    background: #6d8bb2;
  }
  :nth-child(3) {
    background: #d56150;
  }
}
#endGameBtn {
  opacity: 0.4;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
}
#endGameBtn:hover {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  #start {
    margin: 0px auto;
    form input {
      width: 300px;
    }
  }
  #players {
    div {
      height: 170px;
      margin: 0px auto;
      h2 {
        // font-size: 2rem;
      }
      h3 {
        // font-size: 2.75rem;
      }
    }
  }
  #action {
    margin: 0px auto;

    button {
      width: 100px;
      height: 44px;
      font-size: 18px;
      border: none;
    }
  }
  #pointsLeft {
    margin: 30px auto;
  }
  #balls div svg {
    width: 45px;
  }
  #balls div #red {
    height: auto;
  }
  #endGameBtn {
    margin: 20px;
  }
  #foul {
    z-index: 1000;
    height: 100%;
    #options {
      width: fit-content;
    }
    button {
      width: 100px;
      height: 44px;
      font-size: 18px;
    }
  }

  .confirmEndGame {
    width: 100%;
  }
  #foul {
    #foul h2 {
      margin-top: 80px;
    }
    #options {
      margin: 40px auto;
    }
  }
}
